/* line 13, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
body {
  background-image: url("http://i.imgur.com/RxilMAB.jpg"), radial-gradient(ellipse at center, #f0f1f5 20%, #a3a8c2 100%);
  background-attachment: fixed;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

/* line 22, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
button {
  background-color: #d9dce8;
  border-color: #f0f1f5;
  border-radius: 10px;
  color: #3d425c;
  margin-left: 5px; }

/* line 30, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
#add_button {
  background-color: #a3a8c2;
  border-color: #f0f1f5;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 3px black;
  font-size: 1.5em;
  outline: none;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  z-index: 2; }

/* line 47, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
#add_button:focus {
  background-color: #7de87d;
  border: 2px solid #d5ff00; }

/* line 52, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
#add_button:hover {
  box-shadow: 0px 0px 0px 0px black;
  text-shadow: 0px 0px 0px black; }

/* line 57, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.delete-btn {
  background-color: #e8d9d9;
  border-color: #d8c0c0;
  border-radius: 10px;
  color: #5c3d3d;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 65, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.delete-btn:hover {
  background-color: #dab4b4;
  border-color: #cd9898;
  border-radius: 10px;
  color: #5c3d3d; }

/* line 72, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.edit-btn {
  background-color: #d9e8d9;
  border-color: #c0d8c0;
  border-radius: 10px;
  color: #3d5c3d;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 80, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.edit-btn:hover {
  background-color: #b4dab4;
  border-color: #98cd98;
  border-radius: 10px;
  color: #3d5c3d; }

/* line 87, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.header_title {
  font-size: 48px;
  letter-spacing: .15em;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px black; }

/* line 95, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-item {
  cursor: pointer; }

/* line 99, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-item:active, .ingredients-item:focus {
  text-decoration: underline;
  border-color: #b3bbe6;
  outline: none; }

/* line 107, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list {
  background-color: #FFFEFC;
  border-radius: 15px;
  box-shadow: inset 2px 2px 45px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 12px 2px rgba(252, 246, 233, 0.1);
  overflow: hidden;
  padding: 15px 5px 25px 10px; }

/* line 115, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list button {
  box-shadow: -2px 2px 4px .1px black;
  margin: 0px 5px 0px 10px; }

/* line 120, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list li:hover {
  text-decoration: underline; }

/* line 124, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list li {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

/* line 128, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list ul {
  transform: rotateZ(-1.8deg);
  list-style: none;
  margin-bottom: 25px;
  padding-left: 20px; }

/* line 135, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list ul li.checked:before {
  content: '\f046';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 18px;
  margin-right: 4px;
  width: 15px; }

/* line 144, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list ul li.unchecked:before {
  content: '\f096';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 18px;
  margin-right: 4px;
  width: 15px; }

/* line 153, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list ul li {
  border: 2px ridge rgba(179, 187, 230, 0);
  border-radius: 15px;
  color: #3d4a8a;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  padding-left: 15px;
  width: 85%; }

/* line 163, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.ingredients-list ul li:hover {
  color: #3d4a8a;
  font-family: 'Pacifico', cursive;
  font-size: 20px; }

/* line 169, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.modal-title, .modal-body {
  color: #3d425c; }

/* line 173, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe {
  border: 2px inset #949ab8;
  border-radius: 15px;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 2px 0px 0px 10px;
  transition: 250ms background-color cubic-bezier(0.23, 1, 0.32, 1); }

/* line 182, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe:hover, .recipe:focus {
  background-color: #dbdff0;
  outline: none;
  border: 2px inset #6680ff; }

/* line 188, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-enter {
  opacity: 0;
  height: 0%; }

/* line 193, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-enter.recipe-enter-active {
  height: 100%;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 199, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-leave {
  opacity: 1; }

/* line 203, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-leave.recipe-leave-active {
  opacity: 0;
  transition: all 5500ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 209, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipebox {
  background-color: #f0f1f5;
  border-radius: 5px;
  box-shadow: 2px 1px 10px 4px black, inset 0px 0px 6px 2px #a3a8c2;
  color: #3d425c;
  margin: auto;
  min-width: 300px;
  max-width: 600px;
  padding: 5px;
  position: relative; }

/* line 221, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
#recipe-edit {
  margin-bottom: 4px;
  width: 250px; }

/* line 226, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-title {
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: background-color 2000ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 233, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-title:focus {
  font-weight: 500;
  text-decoration: underline;
  outline: none; }

/* line 240, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.recipe-title:active {
  outline: 1px dotted #949ed1;
  text-decoration: underline;
  transition: 0ms all; }

/* line 247, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.spoon {
  margin-right: 6px;
  transform: rotate(15deg); }

/* line 252, /Applications/mampstack-5.6.6-0/apache2/htdocs/fcc-bp-recipe/styles.scss */
.tip {
  font-style: italic; }
